@inherits LayoutComponentBase
@inject IJSRuntime JS
<!-- Main Layout -->
<div>
    <div id="overlay"></div>

    <HangKenhFE.Pages.Component.Header/>
    <a onclick="topFunction()" id="btn-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="23" viewBox="0 0 21 23" fill="none">
            <path d="M10.2891 22.9102L10.2891 1.08941M10.2891 1.08941C10.2891 1.08941 9.13522 5.29576 6.44291 7.81957C3.7506 10.3434 0.289062 10.3434 0.289062 10.3434M10.2891 1.08941C10.2891 1.08941 11.4429 5.25608 14.1352 7.75608C16.8275 10.2561 20.2891 10.2561 20.2891 10.2561"
                  stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
        </svg>
    </a>
    @Body
    <HangKenhFE.Pages.Component.Footer/>
</div>
