@page "/cart"
<section class="section-banner">
    <img src="main/assets/images/banner-category.jpg"
         class="w-100 h-100" alt="banner-image-3">
    <div class="title-banner">
        <h1>
            Cart
        </h1>
    </div>
</section>
<section id="collection">
    <div class="container">
        <div class="row">         
            <main class="col-md-9">
                @*   @include('frontend.components.breadcrumb_cate', ['title' => 'Bộ sưu tập']) *@
                <div class="row product mt-48px">
                    @*    @for($i = 0; $i < 6; $i++) *@
                    <div class="col-6 product">
                        <figure class="card product-card gap-0">
                            <div class="product-image">
                                <div class="img-wrap">
                                    <img src="main/assets/images/product-1.jpg"
                                         class="w-100 h-100 object-fit-cover">
                                </div>
                                <div class="img-wrap-hide">
                                    <img src="main/assets/images/product-3.jpg"
                                         class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <figcaption class="project-article-content">
                                <div class="project-article-title sub-title">
                                    <p>Agatha</p>
                                </div>
                                <div class="project-article-author">
                                    <p>Project by NTK Sơn Vũ</p>
                                    <p>Photo: DaniNguyen</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    @*  @endfor *@
                </div>
                <nav class="mt-48px">
                    <ul class="pagination bsb-pagination-1 pagination-lg justify-content-center">
                        <li class="page-item"><a class="page-link" href="#!">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#!">2</a></li>
                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                        <li class="page-item"><a class="page-link" href="#!">Trang kế tiếp</a></li>
                    </ul>
                </nav>
            </main>
        </div>
    </div>
</section>
