@page "/wishlist"

<section class="section-banner">
    <img src="main/assets/images/banner-category.jpg"
         class="w-100 h-100" alt="banner-image-3">
    <div class="title-banner">
        <h1>
            WISHLIST CỦA BẠN
        </h1>
    </div>
</section>
@code {

}
